.g {
  background-color: #80bd01;
  padding: 2px 4px;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
  width: 30px;
  height: 16px;
  text-align: center;
}
.gray {
  background: #999999;
  padding: 2px 4px;
  border-radius: 3px;
  color: #fff;
  font-size: 12px;
}
