* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
body {
  background: #e1e1e1;
}
.wrap {
  width: 95%;
  margin: 0 auto;
}
.top {
  padding: 10px;
  background-color: #333;
  /* width: 100%; */
}
.main {
  padding: 20px 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.main_left {
  min-height: 400px;
  width: 78%;
  background-color: #fff;
}
.right {
  min-height: 400px;
  width: 20%;
  background-color: #fff;
}
.top_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.top_container a {
  color: #fff;
  margin: 0 10px;
  font-size: 14px;
}
.top_container img {
  width: 120px;
}
